<style>
  html,
  body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
</style>

<link rel="stylesheet" href="css/login.css">

<div class="login">

  <div class="modal-backdrop" ng-show="ctrl.forgotPassword">
    <div class="popup reset-dialog">
      <div class="close" ng-click="ctrl.forgotPassword = false;">&times;</div>
      <h1>Can't remember your details?</h1>
      <h2>Just enter your email address and we'll get things sorted.</h2>
      <form name="ctrl.resetForm" novalidate ng-submit="ctrl.resetPassword()">
        <input name="email" type="email" ng-model="ctrl.resetEmail" placeholder="Email Address" required />

        <div class="error" ng-show="ctrl.error" ng-click="ctrl.clearErrors()">
          {{ ctrl.errorMessage }}
        </div>

        <button class="solid pink" type="submit" ng-disabled="ctrl.resetForm.$invalid">Help!</button>
      </form>
    </div>
  </div>

  <div class="modal-backdrop" ng-show="ctrl.resetSent">
    <div class="popup pink-circles" ng-switch on="ctrl.chat.state.ban.Level">
      <p>We know it sucks to be without chat. We'll email you with details straight away!</p>
      <button class="pink horizontal-buttons" ng-click="ctrl.resetSent = false;">I love you!!!</button>
    </div>
  </div>

  <div class="box">
    <div class="login-link">
      Log in
    </div>
    <div class="logo">
      <img src="assets/images/ewclogo.svg" />
    </div>
    <form name="ctrl.loginForm" novalidate ng-submit="ctrl.login()">

      <input name="nick" type="text" ng-model="ctrl.username" placeholder="Nickname" required />
      <label ng-show="ctrl.loginForm.nick.$touched && ctrl.loginForm.nick.$error.required">Please enter a nickname.</label>
      <input name="pass" type="password" ng-model="ctrl.password" placeholder="Password" required />

      <label ng-show="ctrl.loginForm.pass.$touched && ctrl.loginForm.pass.$error.required">Please enter a password.</label>

      <div class="error" ng-show="ctrl.error && !ctrl.forgotPassword">
        {{ ctrl.errorMessage }}
        <span ng-click="ctrl.clearErrors()" class="close">&times;</span>
      </div>


      <div class="buttons">
        <button type="submit" class="solid" ng-disabled="ctrl.loginForm.$invalid">Login</button>
      </div>


    </form>
    <!-- <div class="option-text">or login with</div>
    <div class="social">
      <a href ng-click="ctrl.loginSocial('Facebook')">
        <img src="assets/images/facebook.svg" />
      </a>
      <a href ng-click="ctrl.loginSocial(" Google ")">
        <img src="assets/images/google.svg" />
      </a>
      <a href ng-click="ctrl.loginSocial('Twitter')">
        <img src="assets/images/twitter.svg" />
      </a>
    </div> -->

    <div class="fine-print" ng-click="ctrl.forgotPassword = true;">
      Forgot your password?
    </div>
    <div class="fine-print" ng-click="ctrl.createAccount()">
      Need an account?
      <a href>Create one.</a>
    </div>
  </div>
</div>
