@import 'common.scss';
.channel-ban-modal {
  .popup {
    display: flex;
    flex-direction: column;
    position: relative;
    .bans {
      flex-grow: 1;
      flex: 0 0 1;
      overflow-y: auto;
    }
  }
  h1 {
    font-family: $primary-font;
    font-size: 1.9rem;
    color: #FFFFFF;
    line-height: 45px;
    margin: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      width: calc(100% - 1rem);
      display: flex;
      cursor: pointer;
      label {
        font-size: 1.25rem;
        flex-grow: 1;
        flex: 0 0 1;
        text-align: left;
        align-self: center;
      }
      div {
        display: inline-block;
        p {
          margin: 0;
        }
      }

      &.detail {

        img.delete {
          height: 1.5rem;
          cursor: pointer;
        }
      }
      &.confirm {
        display: initial;
        div {
          width: 100%;
        }
        button {
          display: inline-block;
          width: calc(50% - 1rem);
          margin: 1rem 0;
          border-radius: 1rem;
          height: 2.5rem;
          border-radius: 0.25rem;
          border: none;
        }
        button.danger {
          background-color: $popup-button;
          color: #ffffff;
        }
      }
    }
  }
}
