@import 'common.scss';

.emoji-box {
  @include no-selection();
  position: absolute;
  bottom: 4rem;
  right: 0;
  >ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background: rgba(255, 255, 255, 1);
    li {
      padding: 0 0.5rem;
      cursor: pointer;
      flex-grow: 1;
      flex: 0 0 1;
      text-align: center;
      &.active {
        background-color: rgba(240, 240, 240, 1);
      }
    }
  }
  >div {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      max-height: 25vh;
      overflow-y: auto;
      background: rgba(240, 240, 240, 1);
      li {
        font-size: 1.5rem;
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }
  }
}
