@import 'common.scss';

@import url('https://fonts.googleapis.com/css?family=Muli:200,300');
.login {
  background: $app-background;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .box {
    width: calc(100% - 2rem);
    height: 100%;
    margin: 0 1rem;
    @media only screen and (min-width: 350px) {
      position: absolute;
      max-width: 350px;
      max-height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-left: 0;
    }
    font-family: 'Muli',
    sans-serif;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    .login-link {
      line-height: 3rem;
      text-align: right;
      padding: 0 1rem;
      font-weight: 200;
      cursor: pointer;
    }
    .logo {
      img {
        width: 25%;
        margin-left: 1.5rem;
      }
    }
    h1 {
      margin: 1rem;
      font-size: 1.5rem;
      font-weight: 300;
    }
    p {
      margin: 0.5rem 1rem;
      font-weight: 200;
    }
    form {
      margin-top: 2rem;
      width: calc(100% - 2rem);
      label,
      .error {
        margin: 1rem;
        display: block;
        .close {
          cursor: pointer;
        }
      }
    }
    .buttons {
      flex-grow: 1;
      flex: 0 0 1;
      
    }
    .fine-print {
      font-size: 0.9rem;
      line-height: 1rem;
      margin: 0.5rem 1rem;
      cursor: pointer;
      a {
        color: #ffffff;
      }
    }
    .option-text {
      text-align: center;
    }
    .social {
      display: flex;
      a {
        text-align: center;
        align-self: center;
        border-radius: 2rem;
        background: #ffffff;
        padding: 0.25rem 1.5rem;
        margin: 1rem;
        flex-grow: 1;
        img {
          height: 1rem;
        }
      }
    }
  }
  .reset-dialog {
    height: auto;
    font-family: $primary-font;
    font-weight: 200;
    background-color: #ffffff;
    color: #333333;
    font-size: 0.8rem;
    .close {
      height: auto;
      font-size: 1.5rem;
      position: absolute;
      right: 2rem;
      cursor: pointer;
    }
    h1 {
      margin: 1rem 0;
    }
    form {
      margin-top: 0;
      input[type=email] {
        border-bottom: 1px solid #333333;
        color: #333333;
        &::placeholder {
          font-family: $primary-font;
          font-weight: 200;
          color: #333333;
        }
      }
    }
    button.pink {
      background: #FF8CAE;
      color: #FFFFFF;
    }
    button:disabled {
      background: #c0c0c0;
    }
  }
}
